# SQLAlchemy >= 2.0.0, <2.1.0
# pydantic >= 2.0.0, <3.0.0
# alembic ~= 1.12
# psycopg2-binary ~= 2.9
# sqlmodel ~= 0.0.14
# python-dotenv ~= 1.0.0
# requests ~= 2.31.0
# pytest ~= 7.4.4
# ipykernel ~= 6.29.0